body {
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    flex-flow: wrap;
    width: 960px;
    height: 960px;
    margin-top: 3px;
}

.smallDiv{  
    flex: 1;
    border: 1px solid red;
}