.container {
    display: flex;
    border: 1px solid black;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    flex-flow: wrap;
}

.smallDiv{
    width: 40px;
    height: 40px;
    border: 1px solid red;
}